src/main/resources/META-INF/wsdl/SolicitarPagamento.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://br.sp.puc/services/pagamento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitarPagamento"
				  targetNamespace="http://br.sp.puc/services/pagamento">
	<wsdl:types>
		<xsd:schema targetNamespace="http://br.sp.puc/services/pagamento">
			<xsd:element name="solicitarPagamentoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroPedido" type="xsd:string" />
						<xsd:element name="nomeCliente" type="xsd:string" />
						<xsd:element name="cpfCliente" type="xsd:string" />
						<xsd:element name="valorCompra" type="xsd:double" />
						<xsd:element name="numeroCartao" type="xsd:string" />
						<xsd:element name="bandeiraCartao" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="solicitarPagamentoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="aprovado" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="solicitarPagamentoRequest">
		<wsdl:part  element="tns:solicitarPagamentoRequest" name="in" />
	</wsdl:message>

	<wsdl:message name="solicitarPagamentoResponse">
		<wsdl:part element="tns:solicitarPagamentoResponse" name="out" />
	</wsdl:message>

	<wsdl:portType name="SolicitarPagamento">
		<wsdl:operation name="solicitarPagamento">
			<wsdl:input message="tns:solicitarPagamentoRequest" />
			<wsdl:output message="tns:solicitarPagamentoResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SolicitarPagamentoSOAP" type="tns:SolicitarPagamento">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="solicitarPagamento">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="in"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="out"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SolicitarPagamento">
		<wsdl:port binding="tns:SolicitarPagamentoSOAP" name="SolicitarPagamentoSOAP">
			<soap:address location="http://www.puc-integration.com/services/pagamento" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
