WSDL/SolicitarPagamento_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://br.sp.puc/services/pagamento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitarPagamento_v1_0"
	targetNamespace="http://br.sp.puc/services/pagamento">
	<wsdl:types>
		<xsd:schema targetNamespace="http://br.sp.puc/services/pagamento">
			<xsd:element name="solicitarPagamento">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroPedido" type="xsd:string" />
						<xsd:element name="nomeCliente" type="xsd:string" />
						<xsd:element name="valorCompra" type="xsd:double" />
						<xsd:element name="numeroCartao" type="xsd:string" />
						<xsd:element name="bandeiraCartao" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="solicitarPagamentoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="aprovado" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="solicitarPagamentoRequest">
		<wsdl:part element="tns:solicitarPagamento" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="solicitarPagamentoResponse">
		<wsdl:part element="tns:solicitarPagamentoResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="SolicitarPagamento_v1_0">
		<wsdl:operation name="solicitarPagamento">
			<wsdl:input message="tns:solicitarPagamentoRequest" />
			<wsdl:output message="tns:solicitarPagamentoResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="SolicitarPagamento_v1_0SOAP" type="tns:SolicitarPagamento_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="solicitarPagamento">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="SolicitarPagamento_v1_0">
		<wsdl:port binding="tns:SolicitarPagamento_v1_0SOAP" name="SolicitarPagamento_v1_0SOAP">
			<soap:address location="http://www.puc-integration.com/services/pagamento" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
